* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.main {

    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/94eb5ad7-10d8-4cca-bf45-ac52e0a052c0/IN-en-20240226-popsignuptwoweeks-perspective_alpha_website_medium.jpg
);
    background-position: center center;

    height: 80vh;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;

}


.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* padding: 15px; */
    position: relative;
    z-index: 10;

}
.gap{
    display: flex;
    flex-wrap: wrap;
}
nav img {
    color: rgb(224, 19, 19);
    width: 140px;
    position: relative;
    z-index: 10;

}

.hero {
    font-family: "Noto Sans KR", sans-serif;
    height: calc(100% - 76px);
    color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    padding: 3px 25px;


}

.hero>:first-child {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    position: inherit;
}

.hero> :nth-child(2) {
    font-size: 25px;
    font-weight: 400;
    text-align: center;

}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.line {
    height: 7px;
    background-color: rgb(37, 37, 37);
}

.btn {
    padding: 3px 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: aliceblue;
    background-color: none;

}

.red-1 {
    background-color: red;
    padding: 6px 15px;
    border-radius: 4px;
    color: aliceblue;
    cursor: pointer;
}

.red-2 {
    background-color: red;
    padding: 12px 45px;
    color: aliceblue;
    font-size: 24px;
    font-weight: 500;
    border-radius: 4px;
    border-style: none;

}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input {
    padding: 16px 152px 16px 9px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    /* border-style: none; */
    /* background: transparent; */
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(224 210 210 / 42%);

}

.normal {
    background-color: rgba(23, 23, 23, 0.7);
    color: aliceblue;
    padding: 6px 15px;
    border-radius: 4px;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    padding: 70px;
    align-items: center;
}




.secimg {
    position: relative;

    /* object-fit: cover; */

}

.secimg img {

    width: 555px;
    position: relative;
    /* top: 2px; */
    z-index: 10;


}

.secimg video {
    position: absolute;
    top: 24px;
    right: 65px;
    width: 500px;
    height: 100%;
    max-width: 75%;
    max-height: 75%;
    overflow: hidden;



    /* width: 26vw; */

    /* left: 12px; */

}

.first>div {
    display: flex;
    flex-direction: column;

}

.first div>:first-child {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.first div>:nth-child(2) {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 0;

}

.third video {
    position: absolute;
    top: 2px;
    left: 93px;
    width: 100%;
    height: 100%;
    max-width: 64%;
    max-height: 64%;
    overflow: hidden;
}

.feq h2 {
    font-size: 40px;
    text-align: center;

    font-weight: 900;
}

.feq {
    padding: 45px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
}

.faqbox {
    cursor: pointer;
    transition: all 1s ease-out;
    background-color: #3b3737;
    display: flex;
    padding: 22px;
    max-width: 70vw;
    font-size: 25px;
    margin: 35px auto;
    justify-content: space-between;

}

.faqbox:hover {
    background-color: rgb(81, 82, 82);
}

footer {
    max-width: 70vw;
    margin: auto;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(255, 255, 255);


}

@media screen and (max-width:1060px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: rgb(255, 255, 255);
        gap: 35px;
    }

    .secimg img {
        width: 400px;
    }

    .secimg video {
        width: 400px;
        left: 54px;
        top: 20px;
    }

    .third video {
        width: 400px;
        left: 74px;
        top: 0;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;

}

footer .Questions {
    color: rgb(161, 164, 165);
    padding: 30px 0;


}

.footer a {
    color: rgb(161, 164, 165);
    padding: 2px 0;
}

@media screen and (max-width:1050px) {
    nav {
        max-width: 90vw;

    }

    .first {
        flex-wrap: wrap;
        text-align: center;
        padding: 59px 0;

    }


    .hero>:first-child {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 28px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
        font-weight: 400;


    }

    .hero> :nth-child(3) {
        font-size: 18px;
        font-weight: 400;

    }
}

@media screen and (max-width:800px) {
    .main input {
        padding: 10px 100px 10px 10px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .red-2 {
        padding: 8px 30px;
    }
}
